<div class ="col-md-3 show-single">
	<h4 class="blue">Editing Employee</h4>

		<%= render 'form', employee: @employee %>

		<%= link_to 'Show', @employee %> |
		<%= link_to 'Back', employees_path %>
</div>